body {
	overflow-x: hidden;
}

.Home {
	margin-top: 5rem;
}

.Logo {
	font-size: 3rem;
	width: 100%;
	text-align: center;
}

.SearchBox {
	padding: 1rem;
}

@media only screen and (min-width: 839px) {
	.SearchBox {
		padding: 5rem;
	}
}




