.Header__Content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.Admin__Container {
  display: flex;
  flex-direction: row;
}

.Admin__Content {
  margin: 2rem;
}
