*/Pipfile.lock
*/sahitya-sangraha
*/kavitakosh
*.sw*
esdata/*
*/__pycache__*
nepali-poems/kavitakosh
nepali-poems/sangraha-data
nepali-poems/sahitya-sangraha
.idea
elasticsearch/data/user-contributed
vidyapati/secrets
