.Footer {
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline;
}

.Footer__Content {
  text-align: center; /* Allow the centering to work */
  margin: 3rem 0;
}

.Footer__List {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 3rem 0;
}

.Footer__ListItem {
  margin: 2rem;
  display: inline;
}

.Footer__ListItem > a {
  color: grey;
}

.Footer__ListItem > a:hover {
  color: #5ABFA1;
}
