.Footer {
  left: 0;
  bottom: 0;
}

.Footer__Content {
  display: flex;
  margin: 3rem 0;
  align-items: center;
  justify-content: center;  
}

.Footer__List {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.Footer__ListItem {
  margin: 2rem;
  white-space: nowrap;
}

.Footer__ListItem > a {
  color: grey;
}

.Footer__ListItem > a:hover {
  color: #5ABFA1;
}

@media only screen and (max-width: 839px) {
  .Footer__List {
    flex-direction: column;
  }

  .Footer__ListItem {
    margin: 0.5rem;
    text-align: center;
  }
}