.RefinementOption__Container {
  white-space: nowrap;
  margin: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.RefinementOption__Label {
  display: inline-block;
}

.RefinementOption__Count {
  display: inline-block;
  color: darkgray;
  margin-left: 15px;
}

.FiltersList__Container {
  margin: 0;
  padding: 0;
}

.Filters__Container {
  width: 100%;
}

/* FiltersListInput */

.FiltersListInput__Container {
  display: flex;
}

.FiltersListInput__Editable {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid;
  padding-left: 0.5rem;
}

.FiltersListInput__Editable input {
  background: none;
  border: none;
  width: 100%;
}

.FiltersListInput__NonEditable {
  display: flex;
  width: 100%;
  padding-left: 14px;
  justify-content: space-between;
  align-items: center;
}

.FiltersListInput__Button {
  background: none;
  border: none;
  width: 3rem;
  height: 3rem;
  line-height: 0rem;
}

/* To swith to a button view when in small screens */
@media (min-width: 839px) {
  .Filters__Mobile {
    display: none;
    width: 100%;
  }
}

@media (max-width: 839px) {
  .Filters__Desktop {
    display: none;
    width: 100%;
  }
}