.SearchItem__Container {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem; 
  width: 100%;
  background: white;
}

.SearchItem__Container em {
  background: yellow;
}

.SearchItem__Title {
  font-size: large;
  margin-bottom: 0.5rem;
}

.SearchItem__Author {

}

.SearchItem__Description {
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}