.TransliteratedInput {
  display: inline-block;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.TransliteratedInput__Input {
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
}

.TransliteratedInput__Suggestion {
  background: #e9e9e9;
  border: 1px solid black;
  white-space: nowrap;
  position: absolute;
  top: 90%;
  left: 20px;
}

.TransliteratedInput__Suggestion:hover {
  background: #e0e0e0;
}
