.TransliteratedInput {
  display: inline-block;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.TransliteratedInput__Input {
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
}

.TransliteratedInput__Suggestion__Container {
  background: #e9e9e9;
  padding: 0.25rem;
  border: 1px solid black;
  position: absolute;
  top: 90%;
  left: 20px;
}

.TransliteratedInput__Suggestion__Container::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  border-width: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.TransliteratedInput__Suggestion {
  white-space: nowrap;
  border: 1px solid black;
  padding: 0.5rem 0.75rem;
}

.TransliteratedInput__Suggestion:hover {
  background: #e0e0e0;
}
