.ResetFilters {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  border: 1px solid grey;
  cursor: pointer;
}

.ResetFilters__Icon {
  cursor: pointer;
}
