.SearchBox {
  position: relative;
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  overflow: visible;
  white-space: nowrap;
}

.SearchBox > div {
  width: 100%;
  height: 100%;
}

.SearchBox__Menu {
  width: 100%;
  overflow: auto;
  padding: 0.5rem;
  background: white;
  border: 1px solid gray;
  z-index: 100;
  box-sizing: border-box;
}

.SearchBox__Input {
  background: white;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.SearchBox__Button {
  background: none;
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  right: 0rem;
  top: 0rem;
  position: absolute;
  line-height: 0;
}

.SuggestionItem {
  display: flex;
  cursor: pointer;
  height: 2rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.SuggestionItem__Header {
  font-weight: bold;
}

.TransliteratedList {
  margin: 0 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.TransliteratedList__Header {
  font-size: small;
  margin-right: 1rem;
}

.TransliteratedList__Item {
  background: #e6e6e6;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.TransliteratedList__Item:hover {
  background: lightblue;
}

.NoSuggestion {
  padding: 0.5rem;
}

.NoSuggestion > p {
  display: inline-block;
  margin: 0.25rem;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

.NoSuggestion a {
  cursor: pointer;
}

.NoSuggestion__Icon {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
