[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

lxml = "*"
requests = "*"
elasticsearch = "*"
dateutils = "*"
urllib = "*"
selenium = "*"


[requires]

python_version = "3.6"
